/*
*Specific Signin 
*/


body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #eee;
  

}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
*Modifica dosar 
*/



#ad_modif>input[type='text']{
    margin-left: 12px;
    margin-right: 2px;
}
#nr_dosar{
    text-align: center;
}
#text_modif{
    width:500px;
    height:50px;
    margin-left: 10px
}

#inapoi{
    margin-right: 15px;
}

#inapoi-salveaza{
   
    text-align: center;
}

#err>p{
    color: red;
    font-style: italic;
    text-align: center;
}

/*
*Includes
*/
.container{
    position: relative;
}

#footer{
    position: absolute;
    height: 60px;
    width:100%;
    bottom:0;
    margin: auto;
}

#footer>p{
    text-align: center;
}

/*
*Index
*/

#rand{
    margin-bottom: 20px;
 
}


#actiuni>button[type='button']{
    width:30%; 
}

#actiuni>input[type='search']{
    width:50%;
   display: inline-block;
}

#actiuni>button[type='submit']{
    width:15%;
}


 .tt-hint{
    border: 2px solid #CCCCCC;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
               
}

 .tt-dropdown-menu {       
    margin-top: 5px;
    padding: 8px 8px;
    background-color: #fff;
    border: 1px solid #ccc;
          
    border-radius: 8px 8px 8px 8px;
   font-size: 14px;
    color: #111;
    background-color: #fff;
}

/*
*Dosar rezultat
*/

#actiuni>button.ia_lucru{
    float: left;
    width: 100px;
}


.panel-title{
    font-size: 20px;
    font-weight: bold;
}

.panel-body{
    font-size:17px;
}




/*
*Header
*/

#navbar ul>li{
    font-size: 18px;
}


#actiuni p{
    display: inline-block;
}

#actiuni a{
    width: 100px;
    
}

.ia_lucru{
    margin-right: 10px;
}

.bg-grey{
    
    padding-bottom: 8px;
}
.bg-grey:hover {
    background-color: #fff;
    
}

/*
*Utilizatori
*/

.utilizatori input{
    width: 150px;
}

#activeaza{
    margin-right: 28px;
}

.deactiveaza{
    margin-right:5px;
}

#numar_d{
    width: 120px;
}